/* style.css */
body {
    background-color: red !important; /* Sengaja pakai !important untuk memastikan override */
    color: yellow !important;
}

#darkModeToggle {
    border: 5px solid blue !important;
}
